
.table-wrapper {
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
td input{
    width:100%;

}
td{
    border: 2px solid black;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .edit {
    display: none;
}
.table-header{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}
select{
    width: 100%;
    /* max-width: 162px; */
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}
.table-title-header{
    font-weight: bold;
    font-style: italic;
}
select option{
    font-size: 14px;
    font-style: italic;
}
select{
    font-size: 14px;
    font-style: italic;
}
::placeholder{
    font-size: 14px;
    font-style: italic;
}
.table-wrapper{
    min-height: 900px;
}
.ctm-header{
    margin-bottom: 50px;
}
.table-wrapper{
    margin-top: 0px;
}