.explain-text{
    font-style: italic;
    font-size: 14px;
}
td{
    border: 1px solid ;
}
tr{
    border: 1px solid ;
}
th{
    border: 1px solid ;
}
.title{
    text-align: center;
    background-color:#0F6ABD !important;
    color: white;
    font-weight: normal;
    font-style: italic;
}
.statistical{
    background-color:#0F6ABD !important;
    color: white;
    font-style: italic;
}
.highlight{
    background-color: #5dea22;
    font-weight: bold;
}
.datepicker-input-custom{
    border-radius: 10px;
    min-height: 40px;
    text-align: center;
}
.tabledit-view-mode{
    cursor: pointer;
    font-size: 14px;
    font-style: italic
}